.botonIngresar {
  padding: 10px 5px;
  background-color: #eb3e3e; 
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.5em; 
  width: 300px; 
  text-align: center; 
  margin: 0 auto; 
}


.botonIngresar:hover {
  background-color: #d61313; 
}
