/* Estilo principal para el contenedor del formulario */
.formulario-contenedor {
    font-family: 'Lucida Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #333030; /* Borde de color gris oscuro */
    border-radius: 20px; /* Bordes más redondeados */
    background-color: #ebe7e7; /* Color de fondo */
    padding: 40px; /* Aumenta el espacio interior para más altura */
    width: 50%; /* Ancho del contenedor ajustable */
    max-width: 600px; /* Ancho máximo del contenedor aumentado */
    margin: 90px auto; /* Centra el contenedor y añade margen superior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

/* Distribución en dos columnas del formulario y la imagen */
.formulario-contenido {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

/* El formulario ocupará el 60% del ancho */
.formulario {
    width: 70%;
}

/* El contenedor de la imagen ocupará el 40% */
.selectBiblioteca{
    padding: 10px;
    border-radius: 5px;
    width: 70vh;
    margin-bottom: 10px;
}