/* General styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url('/path/to/your/image.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.library-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.form-container p {
  font-size: 24px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #d32f2f;
}

.nombreBiblioteca{
  margin-bottom: 20px; 
  padding: 15px;
  width: 60%;
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  font-size: 1.2em; 
}
/* Modal styles */
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__footer {
  text-align: right;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón de cerrar */
}

.modal__close:hover {
  color: #d32f2f;
}

