.eleccion-grado-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px; /* Bordes más redondeados */
  justify-content: center;
  height: 60vh; /* Ajusta a la altura deseada */
  background-color: rgba(228, 222, 222, 0.8);
  font-family: Arial, sans-serif;
  position: relative;
  margin-top: 100px; /* Ajusta este valor según sea necesario */
}

h1 {
  font-size: 2rem;
  margin: 0; /* Elimina el margen predeterminado */
  color: #333;
  text-align: left; /* Alinea el texto a la izquierda */
  position: absolute; /* Posiciona el <h1> de forma absoluta dentro del contenedor */
  top: 2rem; /* Ajusta la distancia desde el borde superior */
  left: 2rem; /* Ajusta la distancia desde el borde izquierdo */
  width: auto; /* Ajusta el ancho del <h1> según el contenido */
}

.circles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}
