/* Estilos para el contenedor del footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    padding: 20px; /* Aumenta el padding para que el footer sea más alto */
    background-color: rgba(248, 248, 248, 0.8); /* Fondo semitransparente similar al header */
    border-top: 2px solid #ddd; /* Línea superior para el footer */
    position: fixed; /* Fija el footer en la parte inferior de la página */
    bottom: 0; /* Posiciona el footer en la parte inferior de la página */
    left: 0; /* Asegura que el footer cubra toda la pantalla de izquierda a derecha */
    z-index: 1000; /* Asegura que el footer esté por encima de otros elementos */
    box-sizing: border-box; /* Asegura que el padding y el border no afecten el tamaño total */
    flex-direction: column; /* Organiza los elementos en columna */
    text-align: center; /* Centra el texto y los iconos */
}


/* Estilos para el contenedor de los derechos reservados */
.footer-rights {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Espacio superior */
}

/* Estilos para el icono de copyright */
.footer-icon {
    font-size: 16px; /* Tamaño del icono */
    margin-right: 5px; /* Espacio entre el icono y el texto */
    color: #333; /* Color del icono */
}

/* Estilos para el texto de derechos reservados */
.footer-text {
    font-size: 14px; /* Tamaño de fuente del texto */
    color: #333; /* Color del texto */
    margin: 0; /* Sin margen adicional */
}
