/* Estilo principal para el contenedor del formulario */
.formulario-contenedor {
    font-family: 'Lucida Sans', sans-serif;
    display: flex;
    align-items: center;
    border: 1px solid #333030;
    border-radius: 20px;
    background-color: #ebe7e7;
    padding: 40px;
    width: 90%;
    max-width: 1200px;
    margin: 90px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Distribución en dos columnas del formulario y la imagen */
.formulario-contenido {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

/* El formulario ocupará el 60% del ancho */
.formulario {
    width: 60%;
}

/* El contenedor de la imagen ocupará el 40% */
.imagen-contenedor {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-libro {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

/* Estilos para los campos del formulario */
.formulario label {
    margin: 12px 0 6px;
    color: #333;
    font-weight: bold;
}

.formulario input {
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1.2em;
}

.formulario h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Media queries para hacer el formulario responsive */
@media (max-width: 768px) {
    .formulario-contenido {
        flex-direction: column;
    }

    .formulario {
        width: 100%;
    }

    .imagen-contenedor {
        width: 100%;
    }

    .imagen-libro {
        max-height: 200px;
    }
}
