.iniciarsesion {
    font-family: 'Lucida Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #333030;
    border-radius: 15px;
    background-color: #f5ecec;
    padding: 20px;
    max-width: 400px;
    margin: 7% auto;
  }
  
  .iniciarsesion form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .iniciarsesion label {
    margin: 10px 0 5px;
  }
  
  .iniciarsesion input {
    margin-bottom: 10px;
    padding: 12px; /* Aumenta el padding para hacer los inputs más grandes */
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho total */
    font-size: 1em; /* Ajusta el tamaño del texto dentro del input */
    border-radius: 15px;
  }
  
  .botonIngresar {
    width: 150px; /* Ajusta el tamaño del botón */
    padding: 10px; /* Ajusta el padding para hacer el botón más pequeño */
    font-size: 1.2em; /* Ajusta el tamaño del texto en el botón */
    margin-top: 15px;
  }
  
  .iniciarsesion a {
    margin-top: 15px;
    color: black;
  }
  
  .logo {
    width: 80px;
    height: 70px;
    margin-bottom: 10px;
  }
  