

/* Distribución en dos columnas del formulario y la imagen */
.detalle-container {
    font-family: 'Lucida Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #7e7c7c; /* Borde de color gris oscuro */
    border-radius: 20px; /* Bordes más redondeados */
    background-color: rgba(248, 248, 248, 0.8); /* Color de fondo */
    padding: 25px; /* Aumenta el espacio interior para más altura */
    width: 100%; /* Ancho del contenedor ajustable */
    max-width: 1200px; /* Ancho máximo del contenedor aumentado */
    margin: 80px auto; /* Centra el contenedor y añade margen superior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.detalle-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin: 10px;
    font-size: 20px;
}

.detalle-img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-libro {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.detalle-button{
    margin: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}

.detalle-button.modify-button {
    background-color: #4CAF50;
    color: #fff;
}

.detalle-button.delete-button {
    background-color: #f44336;
    color: #fff;
}
.detalle-button:hover {
    transform: scale(1.05); 
}

.card-container {
    padding: 20px;
}
  
.card-list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

  .card1 {
    background: #e4e2e2;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%; /* Ancho fijo de las tarjetas */
    text-align: center;
    transition: transform 0.2s;
  }
  
.card1:hover {
    transform: scale(1.05); 
}
  

  