.numero-seleccionado-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px; /* Bordes más redondeados */
    justify-content: center;
    height: 70vh; /* Ajusta a la altura deseada */
    width: 50%; /* Ajusta el ancho del contenedor según sea necesario */
    background-color: rgba(228, 222, 222, 0.8);
    font-family: Arial, sans-serif;
    position: relative;
    margin: 100px auto; /* Centra el contenedor horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para un efecto de tarjeta */
    text-align: center; /* Centra el texto dentro del contenedor */
  }
  
  .numero-seleccionado-container .circle {
    width: 300px; /* Tamaño del círculo */
    height: 300px; /* Tamaño del círculo */
    font-size:120px; /* Tamaño de la fuente más grande */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .numero-seleccionado-container .botonIngresar {
    margin-top: 400px; /* Espacio entre el círculo y el botón */
  }
  